- if current_user
  - if @repositories.count == 0
    Head to
    = link_to 'watches', watches_path
    to select some repos to watch
  =render @repositories

- else
  Authenticate with Github so I can get your PRs
