- if current_user
  - if @repositories.count == 0
    Head to
    = link_to 'repositories', repositories_path
    to select some repos to watch
  - else
    = render partial: 'repository', collection: @repositories

    - content_for :javascript_bottom do
      :coffee
        $ -> (new QuickAssigner()).start()

- else
  Authenticate with Github so I can get your PRs
