%h2= "Welcome to repository settings, #{current_user.name}"
Repository editing forms coming soon, including:
%ul
  %li Setting which build service is used on which repo
  %li The order of the repositories you're watching
  %li Ponnies!

