$avatar_width: 100px;
$status_badge_width: 250px;
$site_width: 1170px;

img[title=emoji]{
  height: 20px;
  width: 20px;
}
.watch_actions form{
  display: none;

  &.active {
    display: block;
  }
}

.remove_watch form{
  margin-bottom: 0px;
}

h1.title {
  color: white;
}

h3 {
  padding-top: 20px;
}

table {
  margin-bottom: 15px;
  width: 100%;
}

th {
  text-align: left;
}

td {
  border-top: solid 1px;
  border-bottom: solid 1px;
  height: 125px;

  &.avatar {
    width: 100px;
  }

  &.status_badge {
    width: 250px;
  }

  &.pull_info .content {
    overflow: auto;
    width: $site_width - (3*$avatar_width) - $status_badge_width;
  }
}


.login {
  float: right;
}

.branch {
  margin-bottom: 10px;
}

.avatar {
  height: 80px;
  width: 80px;
}

.navbar-inner {
  padding: 0;
}
